*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    background: #c5c3c3
}

    /* CONTACTOS */

.contacto{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.contacto img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.contacto h3{
  font-size: 22px;
}

.contacto p{
  color: #444;
  font-size: 18px;
}

/* CONTENIDO */

.contenido{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenido-central img{
  width: 250px;
  margin-bottom: 30px;
}

.contenido-central h1{
  font-size: 60px;
  margin-bottom: 20px;
  color: #222;
}

.contenido-central p{
  font-size: 24px;
  color: #444;
  max-width: 700px;
  line-height: 1.5;
}

   

/*SIDEBAR*/

.sidebar{
width: 400px;
background: white;
border-right: 1px solid #ccc;
 min-height: 100vh;
}

.perfil{
    padding: 15px;
border-bottom: 1px solid #ddd;
}

.perfil-info{
    display: flex;
align-items: center;
gap: 10px;
}

.perfil img{
    width: 45px;
    height: 45px;
    border-radius: 50%;  
}

.nuevo-chat{
  display: flex;
  justify-content: center;
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}

.nuevo-chat button{
  background: #a78bdb;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
}

/* CONTACTOS */

.contacto{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.contacto img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.contacto h3{
  font-size: 22px;
}

.contacto p{
  color: #444;
  font-size: 18px;
}

/* CONTENIDO */

.contenido{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenido-central img{
  width: 250px;
  margin-bottom: 30px;
}

.contenido-central h1{
  font-size: 60px;
  margin-bottom: 20px;
  color: #222;
}

.contenido-central p{
  font-size: 24px;
  color: black;
  max-width: 700px;
  line-height: 1.5;
}
.perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.perfil-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconos{
    display: flex;
    gap: 15px;
}

.iconos i{
    font-size: 22px;
    color: gray;
    cursor: pointer;
}